In [1]:
# a = {}
# a = {<key>:<value>,<key>:<value>,<key>:<value>}

In [2]:
a = {}
type(a)

dict

In [4]:
a = {"a":"Apple","b":"Ball"}
print(a)
a["a"]

{'a': 'Apple', 'b': 'Ball'}

'Apple'

In [5]:
# -Mutable datatype
# -it may have multiple values
# -no duplicate index
# -Ordered

In [6]:
a = {'a': 'Apple', 'b': 'Apple'}
a

{'a': 'Apple', 'b': 'Apple'}

In [8]:
a["a"]="Ant"
a

{'a': 'Ant', 'b': 'Apple'}

In [12]:
a = {}
a["a"] = "Apple"
a["b"] = "Ball"
a["c"] = "Cat"
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [13]:
a["a"] = "Ant"
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [14]:
for i in a:
    print(i)

a
b
c

In [15]:
for i in a.values():
    print(i)

Ant
Ball
Cat

In [16]:
for i in a.items():
    print(i)

('a', 'Ant')
('b', 'Ball')
('c', 'Cat')

In [17]:
key_value = []
for i in a.items():
    key_value.append(i)
key_value

[('a', 'Ant'), ('b', 'Ball'), ('c', 'Cat')]

In [18]:
new_data = []
for i in key_value:
    j = list(i)
    new_data.append(j)
new_data

[['a', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [19]:
new_data[0][0] = "A"
new_data

[['A', 'Ant'], ['b', 'Ball'], ['c', 'Cat']]

In [20]:
d = {}
for k in new_data:
    key = k[0]
    value = k[1]
    d[key] = value
print(d)

{'A': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [22]:
d = {}
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    d[name] = phone
print("The info is = \n",d)

Enter no of people = 2
Enter name = Ram
Enter phone = 9878776765
Enter name = Shyam
Enter phone = 9856554543
The info is =
 {'Ram': 9878776765, 'Shyam': 9856554543}

In [24]:
d["Shyam"]

9856554543

In [25]:
a = {"a":"Apple"}
b = {"b":"Ball"}
a.update(b)

In [26]:
a

{'a': 'Apple', 'b': 'Ball'}

In [31]:
d = {'a': 'Apple', 'b': 'Ball'}
del d["a"]
b

{'b': 'Ball'}

In [34]:
d = {'a': 'Apple', 'b': 'Ball'}
d.pop("a")
print(d)

{'b': 'Ball'}

In [35]:
d = {'a': 'Apple', 'b': 'Ball'}
d.clear()
d

{}

In [36]:
# list inside dict

In [39]:
a = {"a":["Apple","Ant"],"b":["Ball","Bat"]}
print(a)
print(a["a"])
print(a["a"][0])

{'a': ['Apple', 'Ant'], 'b': ['Ball', 'Bat']}
['Apple', 'Ant']
Apple

In [40]:
d = {}
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    d[name] = [ntc_phone,ncell_phone]
print("The info is = \n",d)

Enter no of people = 2
Enter name = Ram
Enter ntc phone = 535345345
Enter ncell phone = 35353543535
Enter name = Shyam
Enter ntc phone = 35435345
Enter ncell phone = 56465654
The info is =
 {'Ram': [535345345, 35353543535], 'Shyam': [35435345, 56465654]}

In [41]:
d["Ram"]

[535345345, 35353543535]

In [42]:
d =  {'Ram': [535345345, 35353543535], 
      'Shyam': [35435345, 56465654]}
d["Ram"].append("9856554543")
d

{'Ram': [535345345, 35353543535, '9856554543'], 'Shyam': [35435345, 56465654]}

In [43]:
d["Ram"][2] =9823223221
d

{'Ram': [535345345, 35353543535, 9823223221], 'Shyam': [35435345, 56465654]}

In [44]:
del d["Ram"][2]
d

{'Ram': [535345345, 35353543535], 'Shyam': [35435345, 56465654]}

In [45]:
 d = {}
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    d[name] = [price,quantity,total]
print("The info is = \n",d)

Enter no of people = 2
Enter name = Apple
Enter price = 100
Enter quantity = 2
Enter name = Ball
Enter price = 67
Enter quantity = 2
The info is =
 {'Apple': [100, 2, 200], 'Ball': [67, 2, 134]}

In [49]:
a = [{"Name":"Ram","Phone":9867665654},
     {"Name":"Shyam","Phone":98678678},
     {"Name":"hari","Phone":9867665654}]

In [50]:
for i in a:
    print(i)

{'Name': 'Ram', 'Phone': 9867665654}
{'Name': 'Shyam', 'Phone': 98678678}
{'Name': 'hari', 'Phone': 9867665654}

In [52]:
d = []
s = 0
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+total
    data = {"Name":name,"Price":price,
            "Quantity":quantity,"Total":total}
    d.append(data)
print("The info is = \n",d)
print("The total is = ",s)

Enter no of people = 2
Enter name = Apple
Enter price = 199
Enter quantity = 2
Enter name = Banana
Enter price = 678
Enter quantity = 3
The info is =
 [{'Name': 'Apple', 'Price': 199, 'Quantity': 2, 'Total': 398}, {'Name': 'Banana', 'Price': 678, 'Quantity': 3, 'Total': 2034}]

In [54]:
d[0]["Price"] = 200
q = d[0]["Quantity"]
total = d[0]["Price"]*q
total

400

In [55]:
d[0]["Total"] = total
d

[{'Name': 'Apple', 'Price': 200, 'Quantity': 2, 'Total': 400},
 {'Name': 'Banana', 'Price': 678, 'Quantity': 3, 'Total': 2034}]

In [5]:
d = [{'Name': 'Apple', 'Price': 199, 'Quantity': 2, 'Total': 398}, 
     {'Name': 'Banana', 'Price': 678, 'Quantity': 3, 'Total': 2034}]

d[0]["Quantity"] = 3
q = d[0]["Price"]
total = d[0]["Quantity"]*q
d[0]["Total"] = total
print(d)
print(total)

[{'Name': 'Apple', 'Price': 199, 'Quantity': 3, 'Total': 597}, {'Name': 'Banana', 'Price': 678, 'Quantity': 3, 'Total': 2034}]
597

In [8]:
d = [{'Name': 'Apple', 'Price': 199, 'Quantity': 2, 'Total': 398}, 
     {'Name': 'Banana', 'Price': 678, 'Quantity': 3, 'Total': 2034}]

q = int(input("Enter new quantity = "))
p = int(input("Enter new price = "))
i = int(input("Entre index = "))
d[i]["Quantity"] = q
d[i]["Price"] = p
total = p*q
d[i]["Total"] = total
print(d)
print(total)

Enter new quantity = 2
Enter new price = 300
Entre index = 1
[{'Name': 'Apple', 'Price': 199, 'Quantity': 2, 'Total': 398}, {'Name': 'Banana', 'Price': 300, 'Quantity': 2, 'Total': 600}]
600

TypeError: list indices must be integers or slices, not str

In [13]:
s = 0
for i in d:
    x = i['Total']
    s = s+x
print("The all total = ",s)

The all total =  998

In [ ]:
# WAP for result management system (Update the marks is required)
# subject = input("Entre Subject = ")
# value = int(input("Enter new marks = "))
# d[i][subject] = value

In [14]:
# Dictionary inside dictionary
a = {"Ram":{"Physics":90,"Chemistry":78,"Math":78,"English":67},
    "Shyam":{"Physics":92,"Chemistry":79,"Math":74,"English":45}}
print(a["Ram"])
print(a["Shyam"])

{'Physics': 90, 'Chemistry': 78, 'Math': 78, 'English': 67}
{'Physics': 92, 'Chemistry': 79, 'Math': 74, 'English': 45}

In [15]:
print(a["Ram"]["Physics"])

90

In [17]:
a = {"A":"Apple"}
b = {"A":["Apple","Ant"]}
c = {("A","a"):"Apple"}  #tuple is imutable datatype
d  = {"A":("Apple","Ant")}
print(a)
print(b)
print(c)

{'A': 'Apple'}
{'A': ['Apple', 'Ant']}
{('A', 'a'): 'Apple'}

In [18]:
# Dictionary inside dictionary
a = {"Ram":{"Physics":90,"Chemistry":78,"Math":78,"English":67},
    "Shyam":{"Physics":92,"Chemistry":79,"Math":74,"English":45}}
print(a["Ram"])
print(a["Shyam"])
a["Ram"]["Computer"] = 99
a

{'Physics': 90, 'Chemistry': 78, 'Math': 78, 'English': 67}
{'Physics': 92, 'Chemistry': 79, 'Math': 74, 'English': 45}

{'Ram': {'Physics': 90,
  'Chemistry': 78,
  'Math': 78,
  'English': 67,
  'Computer': 99},
 'Shyam': {'Physics': 92, 'Chemistry': 79, 'Math': 74, 'English': 45}}

In [21]:
d = {}
s = 0
n = int(input("Enter no of people = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = s+total
    d[name] = {"Price":price,
            "Quantity":quantity,"Total":total}
    
print("The info is = \n",d)
print("The total is = ",s)

Enter no of people = 2
Enter name = Ram
Enter price = 78
Enter quantity = 2
Enter name = Ball
Enter price = 78
Enter quantity = 6
The info is =
 {'Ram': {'Price': 78, 'Quantity': 2, 'Total': 156}, 'Ball': {'Price': 78, 'Quantity': 6, 'Total': 468}}
The total is =  624