In [1]:
# List
# -Mutable
# -Ordered
# -It follows indexing
# -Allow duplicate members

In [2]:
a = ["Apple","Ball"]
b = [1,2,3,4]
print(a)
print(type(b))

['Apple', 'Ball']
<class 'list'>

In [5]:
print(a[-1])

Ball

In [8]:
a = ["Apple","Ball","Cat","Fish","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [9]:
a = ["Apple","Ball","Cat","Fish","Dog"]
print(a[0:5:2])

['Apple', 'Cat', 'Dog']

In [11]:
a = ["Apple"]
b = ["Ball"]
print(b+a)

['Ball', 'Apple']

In [12]:
a = ['Apple', 'Cat', 'Dog']
print(a*2)

['Apple', 'Cat', 'Dog', 'Apple', 'Cat', 'Dog']

In [14]:
# for(i =0;i<5;i++){}
for i in range(5):
    print(i,"Hello World")

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [15]:
a = "Apple"
b = [a]
print(b)

['Apple']

In [17]:
a = []
b = "Ram"
print(a+[b])

['Ram']

In [18]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a = a+[name]
print(a)

Enter n = 2
Enter name = Ram
Enter name = Shyam
['Ram', 'Shyam']

In [1]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print("The list is = ",a)
print("The max value is = ",max(a))
print("The min value is = ",min(a))
print("The sum is = ",sum(a))
print("The average = ",sum(a)/n)

Enter n = 5
Enter x = 132
Enter x = 234
Enter x = 132
Enter x = 324
Enter x = 123
The list is =  [132, 234, 132, 324, 123]
The max value is =  324
The min value is =  123
The sum is =  945
The average =  189.0

In [3]:
a

[132, 234, 132, 324, 123]

In [4]:
a.sort()

In [5]:
a

[123, 132, 132, 234, 324]

In [6]:
a = ["Zebra","xray","1ball","@fish"]
a.sort()

In [7]:
a

['1ball', '@fish', 'Zebra', 'xray']

In [8]:
a = ["Zebra","xray","ball","fish"]
a.sort()
print(a)

['Zebra', 'ball', 'fish', 'xray']

In [10]:
a = [132, 234, 132, 324, 123]
a.sort()
a.reverse()
print(a)

[324, 234, 132, 132, 123]

In [11]:
a = ["Zebra","xray","ball","fish"]
for i in a:
    print(i)

Zebra
xray
ball
fish

In [12]:
len(a)

4

In [14]:
a = ["Zebra","xray","ball","fish"]
n = len(a)
for i in range(n):
    print(a[i])

Zebra
xray
ball
fish

In [16]:
a = ["Zebra","xray","ball","fish"]
for i in a:
    if i == "ball":
        break
    print(i)

Zebra
xray

In [17]:
a = ["Zebra","xray","ball","fish"]
for i in a:
    if i == "ball":
        continue
    print(i)

Zebra
xray
fish

In [18]:
a = ["Zebra","xray","ball","fish","ball"]
if "ball" in a:
    print("Yes",a.count("ball"))

Yes 2

In [20]:
a = list()
a.append("Apple")
print(a)

['Apple']

In [24]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    a.append(name)
print(a)

Enter n = 2
Enter name = sfsd
Enter name = sfd
['sfsd', 'sfd']

In [25]:
a = ["Zebra","xray","ball","fish"]
a.insert(2,"Bag")
print(a)

['Zebra', 'xray', 'Bag', 'ball', 'fish']

In [27]:
a = ["Zebra","xray","ball","fish"]
a[1] = 'Xray'
print(a)

['Zebra', 'Xray', 'ball', 'fish']

In [28]:
a = ["Zebra","xray","ball","fish"]
del a[0]
print(a)

['xray', 'ball', 'fish']

In [30]:
a = ["Zebra","xray","ball","fish"]
del a[0:4:2]
print(a)

['xray', 'fish']

In [32]:
a = ["Zebra","xray","ball","fish"]
a.index("ball")

2

In [33]:
a = ["Zebra","xray","ball","fish"]
a.remove("ball")
print(a)

['Zebra', 'xray', 'fish']

In [37]:
a = ["Zebra","xray","ball","fish"]
b = a.pop(1)
print(b)
print(a)

xray
['Zebra', 'ball', 'fish']

In [40]:
a = ["Zebra","xray","ball","fish","ball"]
n = a.count("ball")
for i in range(n-1):
    a.remove("ball")
print(a)

['Zebra', 'xray', 'fish', 'ball']

In [47]:
a = ["Zebra","xray","ball","fish","ball"]
for i in a:
    if i == "ball":
        n = a.index("ball")
        print(n)

2
2

In [50]:
a = ["ball","Zebra","xray","ball","fish"]
for i in range(len(a)):
    if a[i] == "ball":
        
        print(i)

0
3

In [51]:
index = []
a = ["ball","Zebra","xray","ball","fish"]
for i in range(len(a)):
    if a[i] == "ball":
        
        print(i)
        index.append(i)
print(index)

0
3
[0, 3]

In [1]:
# list inside list
a = [[],[],[],[]]
print(a)
print(len(a))

[[], [], [], []]
4

In [5]:
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3

In [12]:
a = [[1,2,3]]
b = [4,5,6]
c = a+b
print(len(c))

4

In [13]:
a = [[1,2,3]]
b = [[4,5,6]]
print(a+b)

[[1, 2, 3], [4, 5, 6]]

In [14]:
my_list = []
i = int(input("Enter i = "))
j = int(input("Enter j = "))
for a in range(i):
    my_list1 = []
    for b in range(j):
        x = int(input("Enter x = "))
        my_list1.append(x)
    
    my_list.append(my_list1)
    
print(my_list)

Enter i = 2
Enter j = 2
Enter x = 23
Enter x = 35
Enter x = 32
Enter x = 34
[[23, 35], [32, 34]]

In [15]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{name}---{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = ads
Enter phone = 2332432
Enter name = asdasd
Enter phone = 2434
ads---2332432
asdasd---2434

In [16]:
s.split('\n')

['ads---2332432', 'asdasd---2434', '']

In [17]:
x = s.split('\n')[0:-1]
x

['ads---2332432', 'asdasd---2434']

In [21]:
data = []
for i in range(2):
    y = x[i].split('---')
    data.append(y)
data

[['ads', '2332432'], ['asdasd', '2434']]

In [22]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = [name,phone]
    data.append(info)
print(data)

Enter n = 2
Enter name = ffssfd
Enter phone = 3453
Enter name = cdfdf
Enter phone = 34543
[['ffssfd', '3453'], ['cdfdf', '34543']]

In [ ]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = [[name,phone]]
    data = data+info
print(data)

In [31]:
a = [['Ram',9806776554],['Shyam',9878776765]]
a[1][0]

'Shyam'

In [32]:
for i in a:
    print(i)

['Ram', 9806776554]
['Shyam', 9878776765]

In [34]:
a = [['Ram',9806776554],['Shyam',9878776765],['Shyam',9878776765],['Shyam',9878776765]]
a[0:4:2]

[['Ram', 9806776554], ['Shyam', 9878776765]]

In [38]:
a = [['Ram',9806776554],['Shyam',9878776765]]
a[0][0] = "Ram Prasad"
print(a)

[['Ram Prasad', 9806776554], ['Shyam', 9878776765]]

In [41]:
a = [['Ram',9806776554],['Shyam',9878776765]]
del a[0][0]
print(a)

[[9806776554], ['Shyam', 9878776765]]

In [42]:
a = [['Ram',9806776554],['Shyam',9878776765]]
a.remove(a[0])
print(a)

[['Shyam', 9878776765]]

In [45]:
result =[]
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    physics = int(input("Enter physics marks = "))
    chemistry = int(input("Enter chemistry marks = "))
    math = int(input("Enter math marks = "))
    english = int(input("Enter english marks = "))
    nepali = int(input("Enter nepali marks = "))
    total = sum([physics,chemistry,math,english,nepali])
    per = total/5
    data = [i,name,physics,chemistry,math,english,nepali,total,per]
    result.append(data)
result

Enter n = 2
Enter name = Ram
Enter physics marks = 89
Enter chemistry marks = 909
Enter math marks = 87
Enter english marks = 90
Enter nepali marks = 78
Enter name = Shyam
Enter physics marks = 89
Enter chemistry marks = 76
Enter math marks = 90
Enter english marks = 67
Enter nepali marks = 87

[[1, 'Ram', 89, 909, 87, 90, 78, 1253, 250.6],
 [2, 'Shyam', 89, 76, 90, 67, 87, 409, 81.8]]

In [49]:
roll = int(input("Enter roll = "))
result[roll-1]

Enter roll = 1

[1, 'Ram', 89, 909, 87, 90, 78, 1253, 250.6]

In [56]:
result[0][2]=98


s = result[0][2:7]
s
net_sum = sum(s)
result[0][7] = net_sum
result
result[0][-1] = net_sum/5
print(result)

[[1, 'Ram', 98, 909, 87, 90, 78, 1262, 252.4],
 [2, 'Shyam', 89, 76, 90, 67, 87, 409, 81.8]]

In [ ]:
# WAP for Billing System