In [1]:
a = "Python"
print(type(a))

<class 'str'>

In [2]:
a = "Hello"
b = "World"
print(a+b)

HelloWorld

In [5]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [6]:
a = "Hello World"
print(a[0])

H

In [8]:
a = "Hello World"
print(a[:5])
print(a[5:])

Hello
 World

In [12]:
a = "Hello World"
print(a[0:11:2])

HloWrd

In [15]:
a = "Hello World"
print(a[10::-1])

dlroW olleH

In [16]:
# String Operation
name = input("Enter name = ")
age = input("Enter age = ")
add = input("Enter add = ")
info = "Hello my name is "+name+" I am from "+add+"I am "+age
print(info)

Enter name = Ram
Enter age = 78
Enter add = Kathmandu
Hello my name is Ram I am from KathmanduI am 78

In [17]:
# String Formatting
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter add = ")
info = f"Hello my name is {name}. I am from {add} I am {age}"
print(info)

Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Hello my name is Ram. I am from Kathmandu I am 34

In [19]:
search = input("Enter any data for search = ")
if search in info:
    print("Yes",info.count(search))
else:
    print("No")

Enter any data for search = Ram
Yes 1

In [20]:
a = "Python"
print(a.upper())
print(a.lower())

PYTHON
python

In [25]:
info = "Hello my name is Ram. I am from Kathmandu I am 34"
lower_info = info.lower()
search = input("Enter any data for search = ").lower()
if search in lower_info:
    print("Yes",lower_info.count(search))
else:
    print("No")

Enter any data for search = rAm
Yes 1

In [26]:
s = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = f"{name}---{phone}\n"
    s = s+info
print(s)

Enter n = 2
Enter name = Ram
Enter phone = 9856554543
Enter name = Shyam
Enter phone = 9867665654
Ram---9856554543
Shyam---9867665654

In [2]:
name = input("Enter name")
if name in s:
    print("Yes",s.count(name))
else:
    print("No")

Enter nameR
Yes 1

In [29]:
s = s.replace('Ram','Ram Prasad')
print(s)

Ram Prasad---9856554543
Shyam---9867665654

In [1]:
s = "Ram---9856554543\nShyam---9867665654"
name = input("Enter name")
if name in s:
    print("Yes",s.count(name))
    replace_value = input("Enter replace name")
    final_data = s.replace(name,replace_value)
else:
    print("There is No such value")
print(final_data)

Enter nameRam
Yes 1
Enter replace nameRam Prasad
Ram Prasad Prasad---9856554543
Shyam---9867665654

In [ ]:
# WAP for result management system 
# (name,physics,che,math,eng,Nepali,Total,Per)

In [4]:
s = "Ram---9856554543\nShyam---9867665654"
s = s.replace('Ram---9856554543','')
print(s)

Shyam---9867665654

In [5]:
# split()
a = "Hello World"
a.split()

['Hello', 'World']

In [6]:
# split()
a = "Hello.World"
a.split('.')

['Hello', 'World']

In [8]:
s = "Ram---9856554543\nShyam---9867665654"
x = s.split('\n')
print(x)

['Ram---9856554543', 'Shyam---9867665654']