In [1]:
a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [2]:
# not mutable(imutable)
# can have duplicate values
# follows indexing
# Ordered

In [5]:
a = ("Apple",)
print(type(a))

<class 'tuple'>

In [6]:
print(a*3)

('Apple', 'Apple', 'Apple')

In [9]:
a = ("Appple","Ball","Cat")
a[2]

'Cat'

In [11]:
a = ("Apple",)
b = ("Ball",)
print(b+a)

('Ball', 'Apple')

In [12]:
a = (1,2,3,4,5,6,7)
a[0:5]

(1, 2, 3, 4, 5)

In [13]:
a = (1,2,3,4,5,6,7)
a[0::2]

(1, 3, 5, 7)

In [14]:
a = ("Appple","Ball","Cat")
for i in a:
    print(i)

Appple
Ball
Cat

In [15]:
a = ("Appple","Ball","Cat")
for i in a:
    if i == "Ball":
        break
    print(i)

Appple

In [16]:
a = ("Appple","Ball","Cat")
for i in a:
    if i == "Ball":
        continue
    print(i)

Appple
Cat

In [18]:
a = ("Apple","Ball","Cat")
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 1

In [19]:
x,y,z = ("Apple","Ball","Cat")
print(x,y,z)

Apple Ball Cat

In [20]:
a = (1,2,3,4)
a.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [22]:
info = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    info = info +(name,)
print(info)

Enter n = 3
Enter name = Apple
Enter name = Ball
Enter name = Cat
('Apple', 'Ball', 'Cat')

In [23]:
a = ()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+(x,)
    
print("The tuple is = ",a)
print("The max value is = ",max(a))
print("The min value is = ",min(a))
print("The sum is = ",sum(a))
print("The average = ",sum(a)/n)

Enter n = 2
Enter x = 10
Enter x = 20
The list is =  (10, 20)
The max value is =  20
The min value is =  10
The sum is =  30
The average =  15.0

In [25]:
a = (1,3,1,4,2,6,2,7,5)
sorted(a)

[1, 1, 2, 2, 3, 4, 5, 6, 7]

In [26]:
print(a)

(1, 3, 1, 4, 2, 6, 2, 7, 5)

In [29]:
a = list(a)
tuple(a)

(1, 3, 1, 4, 2, 6, 2, 7, 5)

In [30]:
list("Python")

['P', 'y', 't', 'h', 'o', 'n']

In [31]:
tuple("Python")

('P', 'y', 't', 'h', 'o', 'n')

In [33]:
a = "Python"
b = list(a)
tuple(b)

('P', 'y', 't', 'h', 'o', 'n')

In [34]:
str(b)

"['P', 'y', 't', 'h', 'o', 'n']"

In [35]:
# tuple inside tuple
a = ((),(),())
print(len(a))
print(a)

3
((), (), ())

In [37]:
a = ((1,2,3),(4,5,6),(7,8,9))
a[0][0]

1

In [40]:
a = ((1,2,3),(4,5,6),(7,8,9))
b = ((10,11,12),)
print(a+b)

((1, 2, 3), (4, 5, 6), (7, 8, 9), (10, 11, 12))

In [41]:
data = ()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    info = (name,phone)
    data = data+(info,)
print(data)

Enter n = 2
Enter name = dadas
Enter phone = 1312213
Enter name = asdads
Enter phone = 2321
(('dadas', '1312213'), ('asdads', '2321'))

In [44]:
data = (('dadas', '1312213'), ('asdads', '2321'))
a = list(data)

In [45]:
a.append(('Ram',444432432432))
a

[('dadas', '1312213'), ('asdads', '2321'), ('Ram', 444432432432)]

In [47]:
b = []
data = (('dadas', '1312213'), ('asdads', '2321'))
for i in data:
    x = list(i)
    b.append(x)
print(b)

[['dadas', '1312213'], ['asdads', '2321']]

In [48]:
b = ()
data = [['dadas', '1312213'], ['asdads', '2321']]
for i in data:
    x = tuple(i)
    b = b+(x,)
print(b)

(('dadas', '1312213'), ('asdads', '2321'))

In [60]:
a = (("Ram",9867665654),("Shyam",9867665654),("Hari",9856554543))
name = input("Enter name = ")
for i in a:
    if name in i:
        print("Yes")
        print(i)

Enter name = ram

In [63]:
a = (("Ram","Nepal",9867665654),("Shyam","Nepal",9867665654),("Hari","USA",9856554543))
name = input("Enter name = ")
for i in a:
    if name.lower() in i[1].lower():
        print("Yes")
        print(i)

Enter name = nepal
Yes
('Ram', 'Nepal', 9867665654)
Yes
('Shyam', 'Nepal', 9867665654)